<% content_for :content_header do %>
   <h1>Task Types</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, TaskType %>
          <%= button "Add New Races", new_task_type_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<table class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Last Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @task_types.each do |task_type| %>
      <tr data-url="<%= url_for task_type %>">
        <td><%= task_type.name %></td>
        <td><%= pretty_time task_type.created_at %></td>
        <td><%= pretty_time task_type.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
