<%= render 'header' %>

<table class="datatable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Serial</th>
    <th>Device model</th>
  </tr>
  </thead>

  <tbody>
<% @devices.each do |device| %>
  <tr data-url="">
    <td><%= device.name %></td>
    <td><%= device.type %></td>
    <td><%= device.serial %></td>
    <td><%= device.device_model_id %></td>
  </tr>
<% end %>
</tbody>
</table>
