<% content_for :content_header do %>
  <h1>
    <%= link_to('Scan Subtypes', scan_sub_types_path) %>
     / <%= @scan_sub_type.name %>
 </h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :edit, @scan_sub_type %>
          <%= button "Edit", edit_scan_sub_type_path %>
        <% end %>
      </li>
      <li>
        <% if can? :destroy, @scan_sub_type %>
          <%= button "Destroy", @scan_sub_type, method: :delete, data: {
            confirm: 'This will permanently destroy the current item. Are you sure?'
          } %>
        <% end %>
      </li>
    </ul>
</nav>
<% end %>

<p>
  <b>Name:</b>
  <%= @scan_sub_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @scan_sub_type.description %>
</p>

<p>
  <b>Scan type:</b>
  <%= link_to @scan_sub_type.scan_type.name, @scan_sub_type.scan_type %>
</p>
