<% content_for :content_header do %>
   <h1>Races</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, Race %>
          <%= button "Add New Races", new_race_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<table class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Last Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @races.each do |race| %>
      <tr data-url="<%= url_for race %>">
        <td><%= race.name %></td>
        <td><%= pretty_time race.created_at %></td>
        <td><%= pretty_time race.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
