<%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name, hint: "foo" %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :position %>

  <% if can? :set_admin, @user %>
    <div class="field">
      <%= f.input :admin %>
    </div>
  <% end %>

  <% if @user.id.nil? %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>

  <%= f.button :submit, class: "button bright" %>
  <%= button "Cancel", users_path %>
<% end %>
