<% content_for :content_header do %>
   <h1>Users</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, User %>
          <%= button "Add New User", new_user_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<table class="datatable">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>User Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-url="<%= url_for user %>">
        <td><%= image_tag user.gravatar_url, size: "20x20"%></td>
        <td><%= user %></td>
        <td><%= user.email %></td>
        <td><%= user.position %></td>
        <td><%= user.admin ? "Administrator": "Staff" %></td>
        <td><%= user.enabled ? "Enabled": "Disabled" %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
