<div class="sign-in-container">
  <%= image_tag 'lattis_logo_orange.png', class: 'logo' %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.text_field :email, placeholder: "email" %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "password" %></div>

    <div class="sign-in">
      <%= f.submit "Sign in", class: "button block bright" %>
    </div>
  <% end %>
</div>
