<% content_for :content_header do %>
  <h1>
    <%= link_to('Scan Formats', scan_formats_path) %>
     / <%= @scan_format.name %>
 </h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :edit, @scan_format %>
          <%= button "Edit", edit_scan_format_path %>
        <% end %>
      </li>
      <li>
        <% if can? :destroy, @scan_sub_type %>
          <%= button "Destroy", @scan_sub_type, method: :delete, data: {
            confirm: 'This will permanently destroy the current item. Are you sure?'
          } %>
        <% end %>
      </li>
    </ul>
</nav>
<% end %>

<p>
  <b>Name:</b>
  <%= @scan_format.name %>
</p>

<p>
  <b>Description:</b>
  <%= @scan_format.description %>
</p>
