<% content_for :content_header do %>
   <h1>Ethnicities</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, Ethnicity %>
          <%= button "Add New Ethnicity", new_ethnicity_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<table class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Last Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @ethnicities.each do |ethnicity| %>
      <tr data-url="<%= url_for ethnicity %>">
        <td><%= ethnicity.name %></td>
        <td><%= pretty_time ethnicity.created_at %></td>
        <td><%= pretty_time ethnicity.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
