<h1>Listing stimulation_sub_sub_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Stimulation sub type</th>
    <th>Interpulse interval</th>
    <th>Interburst interval</th>
    <th>Intertain interval</th>
    <th>Frequency</th>
    <th>Trains count</th>
    <th>Pulses per train</th>
    <th>Bursts per train</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stimulation_sub_sub_types.each do |stimulation_sub_sub_type| %>
  <tr>
    <td><%= stimulation_sub_sub_type.name %></td>
    <td><%= stimulation_sub_sub_type.stimulation_sub_type_id %></td>
    <td><%= stimulation_sub_sub_type.interpulse_interval %></td>
    <td><%= stimulation_sub_sub_type.interburst_interval %></td>
    <td><%= stimulation_sub_sub_type.intertain_interval %></td>
    <td><%= stimulation_sub_sub_type.frequency %></td>
    <td><%= stimulation_sub_sub_type.trains_count %></td>
    <td><%= stimulation_sub_sub_type.pulses_per_train %></td>
    <td><%= stimulation_sub_sub_type.bursts_per_train %></td>
    <td><%= link_to 'Show', stimulation_sub_sub_type %></td>
    <td><%= link_to 'Edit', edit_stimulation_sub_sub_type_path(stimulation_sub_sub_type) %></td>
    <td><%= link_to 'Destroy', stimulation_sub_sub_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stimulation sub sub type', new_stimulation_sub_sub_type_path %>
