<% content_for :content_header do %>
   <h1>Populations</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, Population %>
          <%= button "Add New Population", new_population_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<table class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Last Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @populations.each do |population| %>
      <tr data-url="<%= url_for population %>">
        <td><%= population.name %></td>
        <td><%= pretty_time population.created_at %></td>
        <td><%= pretty_time population.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
