<% content_for :content_header do %>
  <h1>
   <%= link_to('Populations', populations_path) %> /
   <%= @population.name %>
 </h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :edit, @population %>
          <%= button "Edit", edit_population_path %>
        <% end %>
      </li>
      <li>
        <% if can? :destroy, @population %>
          <%= button 'Destroy', @population,
           method: :delete, data: {
            confirm: 'This will permanently destroy the current item. Are you sure?'
          } %>
        <% end %>
      </li>
    </ul>
</nav>
<% end %>

<p>
  <b>Name:</b>
  <%= @population.name %>
</p>

<p>
  <b>Description:</b>
  <%= @population.description %>
</p>
