<h1>Listing scan_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scan_types.each do |scan_type| %>
  <tr>
    <td><%= scan_type.name %></td>
    <td><%= scan_type.description %></td>
    <td><%= link_to 'Show', scan_type %></td>
    <td><%= link_to 'Edit', edit_scan_type_path(scan_type) %></td>
    <td><%= link_to 'Destroy', scan_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scan type', new_scan_type_path %>
