<% content_for :content_header do %>
   <h1>Locations</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, Location %>
          <%= button "Add New Location", new_location_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
<table class="datatable">
  <thead>
      <tr>
        <th>Name</th>
        <th>Building name</th>
        <th>Floor number</th>
        <th>Room #</th>
        <th>Key number</th>
        <th>Phone</th>
      </tr>
  </thead>

<% @locations.each do |location| %>
  <tr data-url="<%= url_for location %>">
    <td><%= location.name %></td>
    <td><%= location.building_name %></td>
    <td><%= location.floor_number %></td>
    <td><%= location.room_number %></td>
    <td><%= location.key_number %></td>
    <td><%= location.phone %></td>
  </tr>
<% end %>
</table>
