<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Building name:</b>
  <%= @location.building_name %>
</p>

<p>
  <b>Floor number:</b>
  <%= @location.floor_number %>
</p>

<p>
  <b>Room string:</b>
  <%= @location.room_string %>
</p>

<p>
  <b>Key number:</b>
  <%= @location.key_number %>
</p>

<p>
  <b>Phone:</b>
  <%= @location.phone %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
