<% content_for :content_header do %>
  <h1>
   <%= link_to('Locations', locations_path) %> /
   <%= @location.name %>
 </h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :edit, @location %>
          <%= button "Edit", edit_location_path %>
        <% end %>
      </li>
      <li>
        <% if can? :destroy, @location %>
          <%= button 'Destroy', @location,
           method: :delete, data: {
            confirm: 'This will permanently destroy the current item. Are you sure?'
          } %>
        <% end %>
      </li>
    </ul>
</nav>
<% end %>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Building name:</b>
  <%= @location.building_name %>
</p>

<p>
  <b>Floor number:</b>
  <%= @location.floor_number %>
</p>

<p>
  <b>Room number:</b>
  <%= @location.room_number %>
</p>

<p>
  <b>Key number:</b>
  <%= @location.key_number %>
</p>

<p>
  <b>Phone:</b>
  <%= @location.phone %>
</p>
