<% content_for :content_header do %>
   <h1>Brain Areas</h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :create, BrainArea %>
          <%= button "Add New Brain Area", new_brain_area_path %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<table class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Hemisphere</th>
      <th>Created At</th>
      <th>Last Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @brain_areas.each do |brain_area| %>
      <tr data-url="<%= url_for brain_area %>">
        <td><%= brain_area.name %></td>
        <td><%= brain_area.short_name %></td>
        <td><%= brain_area.hemisphere %></td>
        <td><%= pretty_time brain_area.created_at %></td>
        <td><%= pretty_time brain_area.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
