<% content_for :content_header do %>
  <h1>
   <%= link_to('Brain Areas', brain_areas_path) %> /
   <%= @brain_area.name %>
 </h1>
  <nav class="content-actions">
    <ul>
      <li>
        <% if can? :edit, @brain_areas %>
          <%= button "Edit", edit_brain_area_path %>
        <% end %>
      </li>
      <li>
        <% if can? :destroy, @brain_areas %>
          <%= button 'Destroy', @brain_areas,
           method: :delete, data: {
            confirm: 'This will permanently destroy the current item. Are you sure?'
          } %>
        <% end %>
      </li>
    </ul>
</nav>
<% end %>

<p>
  <b>Name:</b>
  <%= @brain_area.name %>
</p>

<p>
  <b>Short name:</b>
  <%= @brain_area.short_name %>
</p>

<p>
  <b>Hemisphere:</b>
  <%= @brain_area.hemisphere.capitalize %>
</p>
