<!DOCTYPE html>
<html>
<head>
  <title>Lattis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flash', flash: flash %>
  <%= render 'layouts/masthead' %>
  <%= render 'layouts/navigation' %>
  <div id="content-container">
      <div id="content">
        <header class="content-header">
          <%= yield :content_header %>
        </header>
        <div class="content-header-divider"></div>
        <div class="content-main <%= "content-has-sidebar" if @sidebar %>">
          <% if @sidebar %>
            <nav class="secondary-navigation">
              <%= yield :sidebar %>
            </nav>
          <% end %>
          <div class="content-inner">
            <%= yield %>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
  <%= yield :dropdowns %>
  <%= render 'layouts/footer'  %>
</body>
</html>
